.navbar {
    background-color: #e9f2f7;
}


.education-why{
    padding: 10px;
    padding-bottom: 40px;

}

.trending-course{
    background-color: #e9f2f7;
    padding: 10px;

}

.logo-card{
    padding: 10px;

}

.footer{
    background-color: #e9f2f7;
    padding: 20px;
    padding-bottom: 40px;
}